<div class="modal-backdrop">
    <div class="modal-content">
      <h2>Configurar Servidor</h2>
      <div>
        <label for="ip">Endereço IP:</label>
        <input type="text" id="ip" [(ngModel)]="ip" placeholder="Ex: 192.168.1.1" />
      </div>
      <div>
        <label for="port">Porta:</label>
        <input type="text" id="port" [(ngModel)]="port" placeholder="Ex: 8080" />
      </div>
      <div class="modal-actions">
        <button (click)="saveConfig()">Salvar</button>
        <!-- <button (click)="closeModal.emit()">Cancelar</button> -->
      </div>
    </div>
  </div>
  